/* start variables */
:root {
  --main-color: ;
}
@font-face {
  font-family: "Gabriel";
  src: url("./fonts/SFAtarianSystem.ttf") format("embedded-opentype"),
    /* Internet Explorer */ url("../fonts/Gabriel\ Weiss'\ Friends\ Font.TTF")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Gabriel\ Weiss'\ Friends\ Font.TTF") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/Gabriel\ Weiss'\ Friends\ Font.TTF") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Gabriel\ Weiss'\ Friends\ Font.TTF") format("svg"); /* Legacy iOS */
}
/* end variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ededed;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.gridy {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 25px;
  grid-gap: 20px;
}
/* End Global Rules */
.header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  display: flex;
  align-items: center;
}
.header .container .logo i {
  font-size: 23px;
  margin-right: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.header .container .logo i:hover {
  text-shadow: 0 0 10px black;
}
.header .container .logo img {
  width: 150px;
}
.header .search {
  width: 400px;
  display: flex;
  align-items: center;
}
.header .search input {
  /* padding: 5px; */
  width: 75%;
  padding: 6px 25px 6px 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 2px;
}
.header .search input:focus {
  outline: none;
}
.header .search i {
  font-size: 17px;
  color: black;
}
.fa-search {
  padding: 6.5px 25px;
  border-top: 1px solid rgb(219, 219, 219);
  border-right: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
  background-color: #f8f8f8;
  border-radius: 2px;
}
.fa-microphone {
  padding: 7px 10px;
  border-radius: 50%;
  background-color: #f8f8f8;
  font-size: 20px;
  margin-left: 8px;
  border-radius: 50%;
  color: black;
}
.notification {
  display: flex;
  align-items: center;
}
.notification i {
  font-size: 20px;
  padding: 0 15px;
}
.notification img {
  width: 35px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .header .container .search {
    display: none;
  }
  .header .container .notification {
    display: none;
  }
}
.main {
  padding-top: 30px;
  padding-bottom: 35px;
}
.main .container {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  gap: 30px;
}
.main .container .player video {
  width: 100%;
  border-radius: 5px;
  /* max-height: 400px; */
}
@media (max-width: 768px) {
  .main .container {
    display: flex;
    flex-direction: column;
  }
}

.main .container .list .box {
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  transition-duration: 0.3s;
}
.main .container .list .box .image-holder {
  width: 55%;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  background-color: #4f4f4f;
  height: fit-content;
}
.main .container .list .box:hover .image-holder img {
  transform: scale(1.1);
}
.main .container .list .box .image-holder::before {
  content: "";
  width: 0%;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ededed65;
  border-radius: 4px;
  opacity: 0;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .container .list  .image-holder:hover:before {
  animation: flash 0.7s;
}
@keyframes flash {
  10%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.main .container .list .box img {
  width: 100%;
  border-radius: 4px;
  transition-duration: 0.3s;
}
.main .container .list .box .label {
  min-width: 25px;
  margin-left: 8px;
}

.main .container .list .box .label p.season {
  color: #949494;
  font-size: 16px;
}
body {
  position: relative;
}
.seasons {
  position: absolute;
  top: 65px;
  left: 0;
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);

  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  padding: 50px 0 0 0;
  opacity: 0;
  animation: pop 0.3s forwards;
}
@keyframes pop {
  to {
    opacity: 1;
  }
}
.season {
  margin-bottom: 50px;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-shadow: 0 0 5px white;
}
.season img {
  width: 200px;
  max-width: 100%;
  width: 200px;
  max-width: 100%;
}
.seasons .season img:hover {
  box-shadow: 0 0 10px black;
}
.open {
  position: absolute;
  top: 65px;
  left: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  height: calc(100% - 250px);
  text-align: center;
  opacity: 0;
  animation: pop 0.3s forwards;
  background-color: rgba(255, 255, 255, 0.61);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 250px 250px 250px 250px;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 100px;
}
@media (max-width: 678px) {
  .open {
    display: block;
  }
}
.remove {
  display: none;
}
/* start title */
.main .container .player p.title {
  font-size: 20px;
  display: block;
  margin-top: 15px;
}
.main .container .player .counter {
  display: flex;
  margin-top: 10px;
  color: rgb(112, 112, 112);
  margin-bottom: 10px;
}
.main .container .player .counter p:first-of-type {
  margin-right: 8px;
}
.main .container .player .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgba(32, 32, 32, 0.151);
  padding-bottom: 20px;
}

.main .container .player .links > div {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
}
.main .container .player .links i {
  font-size: 25px;
  margin-right: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .main .container .player .links > div {
    margin-right: 10px;
  }
  .main .container .player .links i {
    font-size: 19px;
  }
  .main .container .player .links {
    justify-content: space-between;
    margin-top: 25px;
  }
}
.main .container .player .channel {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-end;
}
.main .container .player .channel .col-1 {
  display: flex;
  align-items: center;
}
.main .container .player .channel .col-1 img {
  width: 45px;
  border-radius: 50%;
}
.main .container .player .channel .col-1 .text {
  margin-left: 15px;
}
.main .container .player .channel .col-1 .text p:first-of-type {
  font-weight: bold;
}
.main .container .player .channel .col-1 .text p:last-of-type {
  color: rgb(112, 112, 112);
  font-size: 15px;
  margin-top: 2px;
}
.main .container .player .channel .col-2 button {
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition-duration: 0.3s;
}
.main .container .player .channel .col-2 button:hover {
  color: #cc0000;
  background-color: white;
  box-shadow: 0 0 5px #cc0000;
}
.main .container .player .channel .col-2 i {
  font-size: 23px;
  margin-left: 10px;
  cursor: pointer;
}
.main .container .player .description {
  margin-top: 20px;
  border-bottom: 1px solid rgba(32, 32, 32, 0.151);
}
.main .container .player .description i {
  font-size: 23px;
  color: black;
  margin: 10px 10px 10px 0;
  transition-duration: 0.3s;
  color: rgb(112, 112, 112);
}
.main .container .player .description i:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  color: white;
  text-shadow: 0 0 5px black;
  color: black;
}
.main .container .player .description p {
  margin-left: 60px;
  color: rgb(112, 112, 112);
  font-size: 15px;
}
.main .container .player .description .social {
  margin-left: 60px;
}
@media (max-width: 768px) {
  .main .container .player .channel .col-2 button {
    padding: 10px 10px;
  }
  .main .container .player .channel .col-2 {
    margin-top: 20px;
  }
  .main .container .player .description p {
    margin-left: 0px;
  }
  .main .container .player .description .social {
    margin-left: 0px;
  }
  .main .container .player .channel .col-2 i {
    display: none;
  }
  .main .container .player .channel {
    margin-top: 0px;
  }
}
/* start title  */
/* start footer  */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(41, 41, 41);
}
.footer .container {
  text-align: center;
  color: white;
}
.footer .container .links a {
  padding: 7px 10px;
  font-size: 20px;
  border: 2px solid #4f4f4f;
  border-radius: 50%;
  margin-right: 20px;
  transition-duration: 0.3s;
  color: white;
}
.footer .container .links a:first-child {
  padding: 7px 12px;
}
.footer .container .links {
  margin-bottom: 40px;
}
.footer .container .links a:hover {
  background-color: white;
  border: 2px solid white;
  color: rgb(33, 33, 33);
  box-shadow: 0 0 10px white;
}
.footer .container h3 {
  font-weight: normal;
}
/* end footer  */
* {
  user-select: none;
}
