/* start variables */
:root {
  --main-color: ;
}
@font-face {
  font-family: "Gabriel";
  src: url("./fonts/SFAtarianSystem.ttf") format("embedded-opentype"),
    /* Internet Explorer */ url("../fonts/Gabriel\ Weiss'\ Friends\ Font.TTF")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Gabriel\ Weiss'\ Friends\ Font.TTF") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/Gabriel\ Weiss'\ Friends\ Font.TTF") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Gabriel\ Weiss'\ Friends\ Font.TTF") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "stc";
  src: url("../fonts/STC-Regular.woff") format("woff");
}
/* end variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: stc, sans-serif;

  /* background-repeat: no-repeat;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;*/
  backdrop-filter: blur(2px);
  background-attachment: fixed;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1001%26quot%3b)' fill='none'%3e%3ccircle r='93.335' cx='-73.39' cy='-19.36' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='293.31' cy='451.18' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='734' cy='755.78' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='72.78' cx='546.39' cy='382.78' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='179.83' cx='560.44' cy='32.29' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='176.375' cx='461.75' cy='476.93' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='94.955' cx='1256.32' cy='105.05' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='183.25' cx='62.52' cy='214.57' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='117.555' cx='1075.99' cy='93.13' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='172.275' cx='129.65' cy='456.12' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='63.455' cx='545.35' cy='109' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='148.68' cx='691.22' cy='330.9' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='150.14' cx='782.29' cy='217.82' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='62.23' cx='335.42' cy='99.27' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='149.065' cx='1198.23' cy='457.81' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='128.91' cx='880.76' cy='105.23' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='142.785' cx='1304.6' cy='184.85' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='100.825' cx='1288.6' cy='443.79' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='180.645' cx='1320.53' cy='126.23' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='83.27' cx='1151.36' cy='346.14' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='179.3' cx='578.25' cy='160.87' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='165.815' cx='1404.62' cy='442.07' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.44' cx='664.06' cy='324.05' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='168.945' cx='941.97' cy='351.55' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='149.195' cx='984.1' cy='547.12' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='110.165' cx='574.26' cy='5.96' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='75.095' cx='1206.65' cy='248.49' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='78.88' cx='745.14' cy='134.19' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='139.965' cx='150.45' cy='42.45' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='175.755' cx='412.59' cy='300.08' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='118.335' cx='106.32' cy='48.52' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='157.68' cx='1080.53' cy='126.31' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='139.72' cx='1286.59' cy='41.57' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='71.815' cx='755.2' cy='354.13' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='52.025' cx='175.65' cy='111.55' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='50.86' cx='238' cy='262.87' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='168.905' cx='439.62' cy='297.59' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='81.005' cx='434.6' cy='192.95' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='76.1' cx='158.85' cy='66.33' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3ccircle r='53.05' cx='405.7' cy='41.07' stroke='%23365aa3' stroke-opacity='0.25' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1001'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.gridy {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 25px;
  grid-gap: 20px;
}
/* End Global Rules */
.header {
  padding-top: 30px;
  padding-bottom: 15px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  display: flex;
  align-items: center;
}
.header .container .logo i {
  font-size: 23px;
  margin-right: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.header .container .logo i:hover {
  text-shadow: 0 0 10px black;
}
.header .container .logo img {
  width: 150px;
}
.header .search {
  width: 400px;
  display: flex;
  align-items: center;
}
.header .search input {
  /* padding: 5px; */
  width: 75%;
  padding: 6px 25px 6px 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 2px;
}
.header .search input:focus {
  outline: none;
}
.header .search i {
  font-size: 17px;
  color: black;
}
.fa-search.fal {
  padding: 6.5px 25px;
  border-top: 1px solid rgb(219, 219, 219);
  border-right: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
  background-color: #f8f8f8;
  border-radius: 2px;
}
.mobile-search {
  display: none;
}
@media (max-width: 768px) {
  .mobile-search {
    display: initial;
  }
  .fa-search.fas {
    font-size: 18px;
  }
}
.fa-search.fas:hover {
  text-shadow: 0 0 10px black;
}
.fa-microphone {
  padding: 7px 10px;
  border-radius: 50%;
  background-color: #f8f8f8;
  font-size: 20px;
  margin-left: 8px;
  border-radius: 50%;
  color: black;
}
.notification {
  display: flex;
  align-items: center;
}
.notification i {
  font-size: 20px;
  padding: 0 15px;
}
.notification img {
  width: 35px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .header .container .search {
    display: none;
  }
  .header .container .notification {
    display: none;
  }
}
.main {
  padding-top: 30px;
  padding-bottom: 35px;
}
.main .container {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  gap: 30px;
}
.main .container .player video {
  width: 100%;
  border-radius: 5px;
  /* max-height: 400px; */
}
@media (max-width: 768px) {
  .main .container {
    display: flex;
    flex-direction: column;
  }
}

.main .container .list .box {
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  transition-duration: 0.3s;
}
.main .container .list .box .image-holder {
  width: 55%;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  background-color: #4f4f4f;
  height: fit-content;
}
.main .container .list .box:hover .image-holder img {
  transform: scale(1.1);
}
.main .container .list .box .image-holder::before {
  content: "";
  width: 0%;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ededed65;
  border-radius: 4px;
  opacity: 0;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .container .list .image-holder:hover:before {
  animation: flash 0.7s;
}
@keyframes flash {
  10%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.main .container .list .box img {
  width: 100%;
  border-radius: 4px;
  transition-duration: 0.3s;
}
.main .container .list .box .label {
  min-width: 25px;
  margin-left: 8px;
}

.main .container .list .box .label p.season {
  color: #949494;
  font-size: 16px;
}
body {
  position: relative;
}
/* start search  */

.search-message-open {
  display: block !important;
  position: absolute;
  top: 65px;
  left: 0;
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: -moz-blur(10px);
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  padding: 50px 0 0 0;
  opacity: 0;
  animation: pop 0.3s forwards;
  background-color: rgba(255, 255, 255, 0.582);
}
#search-h2 {
  padding-bottom: 30px;
  width: fit-content;
  margin: 20px;
  position: relative;
  overflow: hidden;
}
#search-h2::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(111, 94, 206);
}
#search-h2::after {
  content: "";
  width: 48%;
  height: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(206, 94, 159);
  animation: to-right 5s linear infinite;
  /* transition-duration: 5s; */
  left: 0%;
}
@keyframes to-right {
  33% {
    left: 100%;
  }
  66% {
    left: -50%;
  }
  100% {
    left: 0;
  }
  /* 100% {
    right: 0;
  } */
}
.remove {
  display: none;
}
.fa-cogs {
  font-size: 85px;
  margin-bottom: 40px;
}
/* end search  */
.seasons {
  position: absolute;
  top: 65px;
  left: 0;
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: -moz-blur(10px);

  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  padding: 50px 0 0 0;
  opacity: 0;
  animation: pop 0.3s forwards;
}
@keyframes pop {
  to {
    opacity: 1;
  }
}
.season {
  margin-bottom: 50px;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.season img {
  width: 200px;
  max-width: 100%;
  width: 200px;
  max-width: 100%;
}
.seasons .season img:hover {
  box-shadow: 0 0 10px black;
}
.open {
  position: absolute;
  top: 65px;
  left: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  height: calc(100% - 250px);
  text-align: center;
  opacity: 0;
  animation: pop 0.3s forwards;
  background-color: rgba(255, 255, 255, 0.61);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 250px 250px 250px 250px;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 100px;
}
@media (max-width: 678px) {
  .open {
    display: block;
  }
}
.remove {
  display: none;
}
/* start title */
.main .container .player p.title {
  font-size: 20px;
  display: block;
  margin-top: 15px;
}
.main .container .player .counter {
  display: flex;
  margin-top: 10px;
  color: rgb(112, 112, 112);
  margin-bottom: 10px;
}
.main .container .player .counter p:first-of-type {
  margin-right: 8px;
}
.main .container .player .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgba(32, 32, 32, 0.151);
  padding-bottom: 20px;
}

.main .container .player .links > div {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
}
.main .container .player .links i {
  font-size: 25px;
  margin-right: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .main .container .player .links > div {
    margin-right: 10px;
  }
  .main .container .player .links i {
    font-size: 19px;
  }
  .main .container .player .links {
    justify-content: space-between;
    margin-top: 25px;
  }
}
.main .container .player .channel {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-end;
}
.main .container .player .channel .col-1 {
  display: flex;
  align-items: center;
}
.main .container .player .channel .col-1 img {
  width: 45px;
  border-radius: 50%;
}
.main .container .player .channel .col-1 .text {
  margin-left: 15px;
}
.main .container .player .channel .col-1 .text p:first-of-type {
  font-weight: bold;
}
.main .container .player .channel .col-1 .text p:last-of-type {
  color: rgb(112, 112, 112);
  font-size: 15px;
  margin-top: 2px;
}
.main .container .player .channel .col-2 button {
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition-duration: 0.3s;
}
.main .container .player .channel .col-2 button:hover {
  color: #cc0000;
  background-color: white;
  box-shadow: 0 0 5px #cc0000;
}
.main .container .player .channel .col-2 i {
  font-size: 23px;
  margin-left: 10px;
  cursor: pointer;
}
.main .container .player .description {
  margin-top: 20px;
  border-bottom: 1px solid rgba(32, 32, 32, 0.151);
}
.main .container .player .description i {
  font-size: 23px;
  color: black;
  margin: 10px 10px 10px 0;
  transition-duration: 0.3s;
  color: rgb(112, 112, 112);
}
.main .container .player .description i:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  color: white;
  text-shadow: 0 0 5px black;
  color: black;
}
.main .container .player .description p {
  margin-left: 60px;
  color: rgb(112, 112, 112);
  font-size: 15px;
}
.main .container .player .description .social {
  margin-left: 60px;
}
@media (max-width: 768px) {
  .main .container .player .channel .col-2 button {
    padding: 10px 10px;
  }
  .main .container .player .channel .col-2 {
    margin-top: 20px;
  }
  .main .container .player .description p {
    margin-left: 0px;
  }
  .main .container .player .description .social {
    margin-left: 0px;
  }
  .main .container .player .channel .col-2 i {
    display: none;
  }
  .main .container .player .channel {
    margin-top: 0px;
  }
}
/* start title  */
/* start footer  */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(41, 41, 41);
}
.footer .container {
  text-align: center;
  color: white;
}
.footer .container .links a {
  padding: 7px 10px;
  font-size: 20px;
  border: 2px solid #4f4f4f;
  border-radius: 50%;
  margin-right: 20px;
  transition-duration: 0.3s;
  color: white;
}
.footer .container .links a:first-child {
  padding: 7px 12px;
}
.footer .container .links {
  margin-bottom: 40px;
}
.footer .container .links a:hover {
  background-color: white;
  border: 2px solid white;
  color: rgb(33, 33, 33);
  box-shadow: 0 0 10px white;
}
.footer .container h3 {
  font-weight: normal;
}
/* end footer  */
* {
  user-select: none;
}
